.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 0.9rem;
  z-index: 10;
  white-space: nowrap;
}

.errorTooltip {
  width: 100%;
  text-align: center;
}
