.label {
  padding: 0;
  margin-top: -25px !important;
}

.slider {
  margin: 10px auto 0 auto;
}

.numberInput {
  width: 75px;
  margin: 1px auto 0 auto;
  -webkit-appearance: none;
  appearance: none;
}

.numberInput[type="number"]::-webkit-inner-spin-button, 
.numberInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  appearance: auto;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 4px;
  margin-top: 1px;
  font-size: 0.9rem;
  z-index: 10;
  white-space: nowrap;
}

.errorTooltip {
  width: 100%;
  text-align: center;
}
